body 
{
    color: #808080;
}

.myPage {
    max-width:2000px;
    margin: 0 auto;
}

h1 {
    font-family: 'Helvetica', 'Open Sans', sans-serif;
   color: #808080;
}

h2 {
    font-family: 'Helvetica', 'Open Sans', sans-serif;
   color: #808080;
}

.dotted {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  }

/*nav {
    padding: 0 auto 0 auto;
}

ul li {
    list-style-type: none;
    margin: 0;
    display: inline;
}

li a {
    color: #3a2c2c;
}

li a:hover {
    background-color: #555;
    color: white;
}*/





#nav-wrapper {
    min-height:40px;
    width: 100%
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
    text-align:center;
    overflow: hidden;
    
}
#nav li {
    display:inline;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
#nav a {
    text-decoration: none;
    font-size: medium;
    margin: 0;
    padding: 10px;
}

#nav a:hover {
    background-color: #808080;
    color: white;
}


#nav.affix {
    position: fixed;
    padding: 0px;
    top: 0px;
    width: 100%;
    z-index:10;
    min-height:40px;
    background-color: rgba(255,255,255,0.9);
}

#myNavbar li:before {
    content: " | ";
}

#myNavbar li:first-child:before {
    content: none;
}

#contactTop {
    height: 120px;
    /*background: #e6ffe6;  For browsers that do not support gradients     */
    /*background: -webkit-linear-gradient(left, #e6ffe6 , #fff); /* For Safari 5.1 to 6.0 */*/
    /*background: -o-linear-gradient(right, #e6ffe6, #fff); /* For Opera 11.1 to 12.0 */*/
    /*background: -moz-linear-gradient(right, #e6ffe6, #fff); /* For Firefox 3.6 to 15 */*/
    /*background: linear-gradient(to right, #e6ffe6 , #fff); /* Standard syntax (must be last) */*/
}

#contactTop h6 {
    color: #808080;
    font-weight: 300;

}

.leftPadding {
    padding-left: 25px;
}




.jumbotron {
    height: 700px;
    font-family: 'Poiret One', 'Open Sans', sans-serif;
  /*  display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;*/
    background-color: #fff;
    /*background: #e6ffe6;  For browsers that do not support gradients     */
    /*background: -webkit-linear-gradient(left, #e6ffe6 , #fff); /* For Safari 5.1 to 6.0 */*/
    /*background: -o-linear-gradient(right, #e6ffe6, #fff); /* For Opera 11.1 to 12.0 */*/
    /*background: -moz-linear-gradient(right, #e6ffe6, #fff); /* For Firefox 3.6 to 15 */*/
    /*background: linear-gradient(to right, #e6ffe6 , #fff); /* Standard syntax (must be last) */ }*/

.jumbotron .text {
    width: 90%;
    margin-left: 0px;

}

.jumbotron h1 {
   font-family: 'Helvetica', 'Open Sans', sans-serif;
   font-weight: 100;
   font-size: large;
   color: #808080;
}

.jumbotron p {
    font-size: medium;
    font-family: 'Pontano Sans', 'Open Sans', sans-serif;
    text-align: justify;
    color: #808080;
    margin-right: 15px;
}

.jumbotron hr { 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    color: #808080;
}




.subsite {
    height: auto;
    font-family: 'Poiret One', 'Open Sans', sans-serif;
  /*  display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;*/
    background-color: #fff;
    /*background: #e6ffe6;  For browsers that do not support gradients     */
    /*background: -webkit-linear-gradient(left, #e6ffe6 , #fff); /* For Safari 5.1 to 6.0 */*/
    /*background: -o-linear-gradient(right, #e6ffe6, #fff); /* For Opera 11.1 to 12.0 */*/
    /*background: -moz-linear-gradient(right, #e6ffe6, #fff); /* For Firefox 3.6 to 15 */*/
    /*background: linear-gradient(to right, #e6ffe6 , #fff); /* Standard syntax (must be last) */ }*/

.subsite .text {
    width: 90%;
    margin-left: 0px;

}

.subsite .text img {
    border: solid #808080 1px;
    
}

.subsite h1 {
   font-family: 'Helvetica', 'Open Sans', sans-serif;
   font-weight: 100;
   font-size: large;
   color: #808080;
}

.subsite p {
    font-size: medium;
    font-family: 'Pontano Sans', 'Open Sans', sans-serif;
    text-align: justify;
    color: #808080;
    margin-right: 15px;
}

.subsite hr { 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    color: #808080;
}



.portfolio {
    background-color: #fff;
}

.portfolio .container {
    width: 100%;
}

.portfolioContainer {
    width: auto;
}


.portfolioContainer img {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    cursor:pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.portfolioContainer img:hover{
    filter: none;
    -webkit-filter: grayscale(0%);
}



.portfolioContainer div {
    padding:0px;
}


.otherProjects div{
    padding:0px;
}

.otherProjects img {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    cursor:pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.otherProjects img:hover{
    filter: none;
    -webkit-filter: grayscale(0%);
}



.galleryContainer {
    width: auto;
    padding: 0;
    margin: 0;
}

.galleryContainer img {
    cursor:pointer;
}

.galleryContainer div {
    padding:0px;
}

.gallery {
    background-color: #fff;
    margin-top: auto;
    margin-bottom: auto;
}

.gallery .container {
    width: 100%;
}




th {
    font-size: large;
    text-align: center;
    font-family: 'Pontano Sans', 'Open Sans', sans-serif;
    padding-bottom: 20px;
}

td {
    padding-right: 15px;
}


.footer {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poiret One', 'Open Sans', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    /*background: #e6ffe6;  For browsers that do not support gradients     */
    /*background: -webkit-linear-gradient(left, #e6ffe6 , #fff); /* For Safari 5.1 to 6.0 */*/
    /*background: -o-linear-gradient(right, #e6ffe6, #fff); /* For Opera 11.1 to 12.0 */*/
    /*background: -moz-linear-gradient(right, #e6ffe6, #fff); /* For Firefox 3.6 to 15 */*/
    /*background: linear-gradient(to right, #e6ffe6 , #fff); /* Standard syntax (must be last) */*/
}

.footer-content {
    position: relative;
}

#footerTable {
    height: auto;
}

.footer p {
    font-family: 'Pontano Sans', 'Open Sans', sans-serif;
}


#bottomFooter {
    font-family: 'Pontano Sans', 'Open Sans', sans-serif;
    text-align: left;
    padding-bottom: 50px;
    padding-top: 50px;
    height: auto;
    /*background: #e6ffe6;  For browsers that do not support gradients     */
    /*background: -webkit-linear-gradient(left, #e6ffe6 , #fff); /* For Safari 5.1 to 6.0 */*/
    /*background: -o-linear-gradient(right, #e6ffe6, #fff); /* For Opera 11.1 to 12.0 */*/
    /*background: -moz-linear-gradient(right, #e6ffe6, #fff); /* For Firefox 3.6 to 15 */*/
    /*background: linear-gradient(to right, #e6ffe6 , #fff); /* Standard syntax (must be last) */*/
}


.footer #social {
    display: inline-block;
}

#socialImg {
    float:left;
}

#socialImg:hover {
    cursor:pointer;
}

/*-------ISOTOPE--------*/
 
.portfolioFilter a { 
    margin-right: 10px; 
    color:#666;
    text-decoration:none;
}
 
.portfolioFilter a.current { 
    background-color: #808080;
    color: #fff;   
}
 
 
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
 
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}


/*--------MEDIA QUERIES-------*/
  @media (max-width: 768px) {
    .affix {
        position: static !important;
    }

    #contactTop h6 {
        visibility: hidden;
    }

    .text {
        padding-left: 10px;
    }
}


/*--------PARALLAX----------*/

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}
